<h1>Portfolio</h1>
<ng-container *ngIf="!submitted; else preview">
  <h2>Persnol Information</h2>
  <form action="">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" [(ngModel)]="nm">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" [(ngModel)]="em">
    </div>
    <div>
      <label for="phone">Email</label>
      <input type="tel" name="phone" id="phone" [(ngModel)]="ph">
    </div>
    <div>
      <label for="address">Addresss</label>
      <input type="text" name="address" id="address" [(ngModel)]="add">
    </div>
  </form>
  <h2>Qualification</h2>
  <div *ngFor="let q of qualification;let i = index">
    Quali  {{i+1}}
  <form action="">
    <div>
      <label for="school">School/College</label>
      <input type="text" name="school" id="school" [(ngModel)]="q.school">
    </div>
    <div>
      <label for="degree">Degree</label>
      <input type="text" name="degree" id="degree" [(ngModel)]="q.degree">
    </div>
    <div>
      <label for="year">Year</label>
      <input type="text" name="year" id="year" [(ngModel)]="q.year">
    </div>
  </form>
</div>
  <div class="btn-container">
    <button (click)="addQuali()">Add Qualification</button>
    <button type="submit" (click)="formSub()">Submit</button>
  </div>
</ng-container>
<ng-template #preview>
  <div class="preview-container">
    <h2>Preview</h2>
    <div>
      <p>{{nm}}</p>
      <p>Email : {{em}}</p>
      <p>Phone : {{ph}}</p>
      <p>Address : {{add}}</p>
    </div>
    <div>
      <h3>Qualifications</h3>
      <div *ngFor="let q of qualification">    
        <h5>School/College : {{q.school}}</h5>
        <h5>Degree : {{q.degree}} {{q.year}}</h5>
      </div>
    </div>
    <button class="btn-edit" (click)="foredit()">Edit</button>
  </div>
</ng-template>